*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.container{
  height: 30rem;
  width: 25rem;
  margin-left: 27rem;
  margin-top: 4rem;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px 
  rgba(0,0,0,0.22);
  background-image: url('images/background.jpg');
  background-size: cover;
}
.box input {
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightskyblue;
}
.box button{
  padding: 10px;
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid lightskyblue;
  background: white;
}
button:hover{
  background: lightskyblue;
  color: white;
  cursor: pointer;
}
.text{
  margin-left: 2rem;
  margin-top: 3rem;
}
.text img{
  position: relative;
  height: 40px;
  width: 40px;
}
.text .cloud{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.text p{
  color: white;
}
.details p {
  margin-top: 6rem;
  font-size: 20px;
}
.details span{
  font-size: 20px;
  color: white;
  margin-top: 2px;
}
.text h2{
  margin-top: 30px;
  color: white;
}
